{% extends 'base.html.twig' %}
{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<div class="row">
    <a class="btn btn-primary btn-lg  position-sticky top-0" href="{{ path('admin.category.create') }}">Ajouter</a>
</div>
<table class="table table-dark">
    <thead>
        <tr class="table-active">
            <th scope="col">Category Name</th>
            <th scope="col">Category Slug</th>
            <th scope="col">Project ID</th>
            <th scope="col">Project Name</th>
            <th scope="col">Project Slug</th>
            <th scope="col">Actions</th> 
        </tr>
    </thead>
    <tbody>
{% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.slug }}</td>
            <td>{{ category.project.id}}</td>
            <td>{{ category.project.name}}</td>
            <td>{{ category.project.slug}}</td>
            <td>
                <a class="btn btn-primary btn-sm" 
                href="{{path('admin.category.edit', { id: category.id } )}}">
                    Edit
                </a>
                <a class="btn btn-danger btn-sm ms-1" 
                href="{{path('admin.category.delete', { id: category.id } )}}">
                    Delete
                </a>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(categories) }}
{% endblock %}
